*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 130vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-pannel{
    height: 100%;
    min-width: 600px;
    background-image: url(https://facumeniy.github.io/signup-form/images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.logo-container{
    height: 200px;
    width: 100%;
    margin-top: 200px;
    background-color: #00000088;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    color: white;
    font-size: 80px;
    font-weight: 700;
}
.right-pannel{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.right-pannel-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 1px solid red; */
}
.text-container{
    width: 80%;
    /* border: 2px solid black; */
    margin-left: 30px;
    margin-bottom: 50px;
}
#text{
    color: white;
    font-size: 35px;
}
#form{
    margin-top: 10px;
    width: 100%;
}
#form-title{
    font-weight: 900;
}
#form-pannel{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
.form-title-container{
    margin-left: 30px;
    /* border: 2px solid cyan; */
}
#form-title{
    color: white;
    font-size: 35px;
}
.form-container{
    width: 70%;
    height: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 3px solid yellow; */
}
.input-row{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid black; */
}
.full-input{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}
.label-container{
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid brown; */
}
.input-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blueviolet; */
}
.button-container{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid black; */
}
#submit-button{
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 3px solid white;
    transition: all 0.1s ease-out;
}
#submit-button:hover{
    transform: translateY(-5px);
    background-color: grad;
    cursor: pointer;
    box-shadow: 0px 5px 12px 0px rgba(191,191,191,0.75);
-webkit-box-shadow: 0px 5px 10px 0px rgba(191,191,191,0.75);
-moz-box-shadow: 0px 5px 120x 0px rgba(191,191,191,0.75);
}   
#bottom-pannel{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
}
.login-container{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
}
.login-container h3{
    color: white;
    margin-left: 30px;
}
.input-error{
    outline: 1px solid red;
}
label{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
input {
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 20px;
    height: 30px;
    width: 350px;
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
}
#login-link{
    color: #d100d1;
    font-weight: 900;
    text-decoration: none;
    margin-left: 10px;
}
#login-link:hover{
    color: #ff32ff;
}